.container {
  position: relative;
  padding: 15px;
  max-width: 390px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
  overflow-y: auto;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;  
}

.item {
  width: 390px;
  height: 480px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}

.current-item {
  opacity: 1;
}